.container {
  text-align: center;
}

.grid-box {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.box {
  color: white;
  margin: 2px;
  line-height: 100px;
  font-size: larger;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
